agents/01_policy_analyzer.json
{
    "name": "GDPR Policy Analyzer Agent",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "analyze-policy",
                "responseMode": "responseNode"
            },
            "id": "webhook-trigger",
            "name": "1. Webhook: Analyze Policy",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                100,
                300
            ],
            "webhookId": "analyze-policy-webhook"
        },
        {
            "parameters": {
                "jsCode": "// Extract domain and prepare search context\nconst input = items[0].json.body || items[0].json;\nlet url = input.url || '';\n\n// Clean URL to get domain\nlet domain = url;\ntry {\n  if (!url.startsWith('http')) {\n    url = 'https://' + url;\n  }\n  const urlObj = new URL(url);\n  domain = urlObj.hostname.replace('www.', '');\n} catch (e) {\n  domain = url.replace(/^(https?:\\/\\/)?(www\\.)?/, '').split('/')[0];\n}\n\n// Generate search queries for finding privacy policy\nconst searchQueries = [\n  `site:${domain} privacy policy`,\n  `${domain} GDPR privacy policy data protection`,\n  `${domain} privacy notice terms`\n];\n\nreturn {\n  json: {\n    originalUrl: url,\n    domain: domain,\n    searchQueries: searchQueries,\n    companyName: domain.split('.')[0].charAt(0).toUpperCase() + domain.split('.')[0].slice(1)\n  }\n};"
            },
            "id": "extract-domain",
            "name": "2. Extract Domain & Prepare Search",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                320,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Find the privacy policy URL for the company with domain: {{ $json.domain }}\n\nSearch strategies to try:\n1. Check common paths: /privacy, /privacy-policy, /legal/privacy, /legal/privacy-policy\n2. Look for links on the homepage footer\n3. Search for \"privacy policy\" + company name\n\nThe company name appears to be: {{ $json.companyName }}\n\nYour task: Return the MOST LIKELY URL where their privacy policy is located. If you cannot determine it, return the most standard path format.\n\nRespond with ONLY a JSON object:\n{\n  \"privacyPolicyUrl\": \"https://...\",\n  \"confidence\": \"high/medium/low\",\n  \"method\": \"description of how you found it\"\n}",
                "options": {
                    "systemMessage": "You are a web research expert. Your job is to find privacy policy URLs for companies. Use your knowledge of common website structures and privacy policy locations. Be precise and return valid URLs."
                }
            },
            "id": "ai-find-policy-url",
            "name": "3. AI: Find Privacy Policy URL",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                540,
                300
            ]
        },
        {
            "parameters": {
                "toolDescription": "Search the web using Google to find relevant pages",
                "method": "POST",
                "url": "https://www.googleapis.com/customsearch/v1",
                "sendQuery": true,
                "parametersQuery": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "={{$env.GOOGLE_SEARCH_API_KEY}}"
                        },
                        {
                            "name": "cx",
                            "value": "={{$env.GOOGLE_SEARCH_ENGINE_ID}}"
                        },
                        {
                            "name": "q",
                            "value": "={{$fromAI('query', 'The search query')}}"
                        }
                    ]
                }
            },
            "id": "http-tool-search",
            "name": "Tool: Web Search",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                540,
                500
            ]
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gemini-3-flash-preview"
                },
                "options": {
                    "temperature": 0.1
                }
            },
            "id": "gemini-search",
            "name": "Gemini: URL Finder",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                400,
                500
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini API"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse the AI response to get the privacy policy URL\nconst aiOutput = items[0].json.output || items[0].json.text || '';\nconst domainData = $('2. Extract Domain & Prepare Search').first().json;\n\nlet policyUrl = '';\nlet confidence = 'low';\n\ntry {\n  const jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    policyUrl = parsed.privacyPolicyUrl || parsed.url || '';\n    confidence = parsed.confidence || 'medium';\n  }\n} catch (e) {\n  // Fallback: extract URL from text\n  const urlMatch = aiOutput.match(/https?:\\/\\/[^\\s\"']+privacy[^\\s\"']*/i);\n  if (urlMatch) {\n    policyUrl = urlMatch[0];\n    confidence = 'low';\n  }\n}\n\n// If no URL found, try common patterns\nif (!policyUrl) {\n  policyUrl = `https://${domainData.domain}/privacy-policy`;\n  confidence = 'fallback';\n}\n\n// Clean URLs\nconst urlsToTry = [\n  policyUrl,\n  `https://${domainData.domain}/privacy`,\n  `https://${domainData.domain}/privacy-policy`,\n  `https://${domainData.domain}/legal/privacy`\n].filter((v, i, a) => a.indexOf(v) === i).slice(0, 3);\n\nreturn {\n  json: {\n    ...domainData,\n    policyUrl: policyUrl,\n    urlsToTry: urlsToTry,\n    confidence: confidence\n  }\n};"
            },
            "id": "parse-policy-url",
            "name": "4. Parse Policy URL Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                760,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 3,
                "options": {}
            },
            "id": "split-urls",
            "name": "5. Split URLs to Batch",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                980,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ $json.urlsToTry[$runIndex] || $json.policyUrl }}",
                "options": {
                    "redirect": {
                        "redirect": {
                            "followRedirects": true,
                            "maxRedirects": 5
                        }
                    },
                    "timeout": 15000
                }
            },
            "id": "fetch-policy",
            "name": "6. Fetch Privacy Policy",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1200,
                300
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Combine all fetched policy content\nconst allItems = items;\nlet combinedContent = '';\nlet successfulUrl = '';\n\nfor (const item of allItems) {\n  if (item.json.data || item.json.body) {\n    const content = item.json.data || item.json.body || '';\n    if (content.length > 500) {\n      combinedContent = content;\n      successfulUrl = item.json.url || 'unknown';\n      break;\n    }\n  }\n}\n\n// Extract text from HTML\nif (combinedContent.includes('<')) {\n  combinedContent = combinedContent\n    .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Limit content length for LLM\nconst maxLength = 30000;\nif (combinedContent.length > maxLength) {\n  combinedContent = combinedContent.substring(0, maxLength) + '... [truncated]';\n}\n\nconst domainData = $('4. Parse Policy URL Result').first().json;\n\nreturn {\n  json: {\n    domain: domainData.domain,\n    companyName: domainData.companyName,\n    originalUrl: domainData.originalUrl,\n    policyUrl: successfulUrl || domainData.policyUrl,\n    policyContent: combinedContent,\n    contentLength: combinedContent.length,\n    fetchSuccess: combinedContent.length > 500\n  }\n};"
            },
            "id": "combine-content",
            "name": "7. Combine & Clean Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1420,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Analyze the following privacy policy for GDPR compliance and extract key information.\n\n## COMPANY INFORMATION\nDomain: {{ $json.domain }}\nCompany Name: {{ $json.companyName }}\nPolicy URL: {{ $json.policyUrl }}\n\n## PRIVACY POLICY CONTENT\n{{ $json.policyContent }}\n\n## YOUR TASK\nExtract the following GDPR-relevant information:\n1. Data Protection Officer (DPO) contact email\n2. Postal address for data requests\n3. All types of personal data collected\n4. Data retention periods\n5. Third parties data is shared with\n6. Legal basis for processing\n7. How to submit a GDPR request\n\nUse your GDPR knowledge to identify issues and rate the privacy risk.\n\nReturn your analysis as JSON with these exact keys:\n- dpo_email (string or null)\n- company_address (string or null)\n- data_collected (array of strings)\n- retention_period (string)\n- third_party_sharing (array of strings)\n- legal_basis (string)\n- request_methods (object with email, url, postal keys)\n- summary (string - 2-3 sentences)\n- risk_score (integer 0-100, higher = more risk)\n- gdpr_issues (array of potential compliance issues)",
                "options": {
                    "systemMessage": "You are a GDPR compliance expert and privacy policy analyst. Your expertise includes:\n\n## GDPR KNOWLEDGE (Use as Reference)\n- Article 13/14: Information to be provided at collection\n- Article 15: Right of access - data subjects can request copies of their data\n- Article 17: Right to erasure ('right to be forgotten')\n- Article 20: Right to data portability\n- Article 21: Right to object to processing\n- Article 30: Records of processing activities\n\n## WHAT TO LOOK FOR\n1. DPO Contact: Look for 'Data Protection Officer', 'DPO', 'privacy@', 'dataprotection@', 'gdpr@'\n2. Data Types: Personal identifiers, device info, location, browsing, financial, biometric\n3. Retention: Look for specific time periods or 'as long as necessary' language\n4. Third Parties: Advertising networks, analytics, payment processors, cloud providers\n5. Legal Basis: Consent, legitimate interests, contractual necessity, legal obligation\n\n## RISK SCORING\n- 0-30: Low risk (minimal data, clear policies, easy opt-out)\n- 31-60: Medium risk (standard data collection, some third parties)\n- 61-100: High risk (extensive tracking, many third parties, unclear retention)\n\nBe thorough but concise. If information is not found, state 'Not specified in policy'."
                }
            },
            "id": "ai-analyze-policy",
            "name": "8. AI: Analyze Policy (GDPR Context)",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                1640,
                300
            ]
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gemini-3-flash-preview"
                },
                "options": {
                    "temperature": 0.2,
                    "maxOutputTokens": 4096
                }
            },
            "id": "gemini-analyzer",
            "name": "Gemini: Policy Analyzer",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1640,
                520
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini API"
                }
            }
        },
        {
            "parameters": {
                "contextWindowLength": 20
            },
            "id": "gdpr-memory",
            "name": "GDPR Context Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                1760,
                520
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse the AI analysis response\nconst aiOutput = items[0].json.output || items[0].json.text || '';\nconst inputData = $('7. Combine & Clean Content').first().json;\n\nlet analysis = {};\n\ntry {\n  const jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  analysis = {\n    error: 'Failed to parse analysis',\n    raw: aiOutput.substring(0, 1000)\n  };\n}\n\n// Ensure all expected fields exist\nconst result = {\n  success: true,\n  domain: inputData.domain,\n  company_name: inputData.companyName,\n  policy_url: inputData.policyUrl,\n  dpo_email: analysis.dpo_email || null,\n  company_address: analysis.company_address || null,\n  data_collected: analysis.data_collected || [],\n  retention_period: analysis.retention_period || 'Not specified',\n  third_party_sharing: analysis.third_party_sharing || [],\n  legal_basis: analysis.legal_basis || 'Not specified',\n  request_methods: analysis.request_methods || {},\n  summary: analysis.summary || 'Analysis completed',\n  risk_score: analysis.risk_score || 50,\n  gdpr_issues: analysis.gdpr_issues || [],\n  analyzed_at: new Date().toISOString(),\n  content_length: inputData.contentLength,\n  raw_analysis: analysis\n};\n\nreturn { json: result };"
            },
            "id": "parse-analysis",
            "name": "9. Parse Analysis Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1860,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond-webhook",
            "name": "10. Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2080,
                300
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "1. Webhook: Analyze Policy": {
            "main": [
                [
                    {
                        "node": "2. Extract Domain & Prepare Search",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Extract Domain & Prepare Search": {
            "main": [
                [
                    {
                        "node": "3. AI: Find Privacy Policy URL",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: URL Finder": {
            "ai_languageModel": [
                [
                    {
                        "node": "3. AI: Find Privacy Policy URL",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Web Search": {
            "ai_tool": [
                [
                    {
                        "node": "3. AI: Find Privacy Policy URL",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "3. AI: Find Privacy Policy URL": {
            "main": [
                [
                    {
                        "node": "4. Parse Policy URL Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Parse Policy URL Result": {
            "main": [
                [
                    {
                        "node": "5. Split URLs to Batch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. Split URLs to Batch": {
            "main": [
                [
                    {
                        "node": "6. Fetch Privacy Policy",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6. Fetch Privacy Policy": {
            "main": [
                [
                    {
                        "node": "7. Combine & Clean Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "7. Combine & Clean Content": {
            "main": [
                [
                    {
                        "node": "8. AI: Analyze Policy (GDPR Context)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini: Policy Analyzer": {
            "ai_languageModel": [
                [
                    {
                        "node": "8. AI: Analyze Policy (GDPR Context)",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "GDPR Context Memory": {
            "ai_memory": [
                [
                    {
                        "node": "8. AI: Analyze Policy (GDPR Context)",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "8. AI: Analyze Policy (GDPR Context)": {
            "main": [
                [
                    {
                        "node": "9. Parse Analysis Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "9. Parse Analysis Result": {
            "main": [
                [
                    {
                        "node": "10. Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "policy-analyzer-v2",
    "meta": {
        "templateCredsSetupCompleted": false,
        "instanceId": "gdpr-automation-local"
    },
    "id": "gdpr-policy-analyzer",
    "tags": [
        {
            "name": "GDPR",
            "id": "gdpr-tag"
        },
        {
            "name": "AI Agent",
            "id": "ai-agent-tag"
        }
    ]
}