agents/06_shadow_oracle.json
{
    "name": "GDPR Shadow Profile Oracle Agent",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "shadow-chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "1. Webhook: Shadow Chat",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "shadow-chat-webhook"
        },
        {
            "parameters": {
                "jsCode": "// Extract question and session info\nconst input = $input.first().json.body;\n\nreturn {\n  json: {\n    question: input.question,\n    sessionId: input.sessionId || 'default-session',\n    userId: input.userId || 'anonymous',\n    timestamp: new Date().toISOString()\n  }\n};"
            },
            "id": "prepare-input",
            "name": "2. Prepare Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO messages (request_id, sender, content, timestamp)\nSELECT \n  (SELECT id FROM requests ORDER BY created_at DESC LIMIT 1),\n  'user',\n  '🔮 Shadow Oracle Query: {{ $json.question }}',\n  NOW()\nWHERE EXISTS (SELECT 1 FROM requests LIMIT 1)\nRETURNING id;",
                "options": {}
            },
            "id": "log-question",
            "name": "3. Log: User Question",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                690,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "POSTGRES_CREDENTIAL_ID",
                    "name": "GDPR Postgres"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://neo4j:7474/db/neo4j/tx/commit",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"statements\": [\n    {\n      \"statement\": \"MATCH (u:User)-[*1..3]-(n) RETURN DISTINCT labels(n) as nodeType, count(n) as count ORDER BY count DESC LIMIT 20\"\n    }\n  ]\n}",
                "options": {}
            },
            "id": "get-graph-stats",
            "name": "4. Get Graph Stats (HTTP)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                910,
                200
            ],
            "credentials": {
                "httpBasicAuth": {
                    "id": "NEO4J_HTTP_CREDENTIAL_ID",
                    "name": "Neo4j HTTP Auth"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://neo4j:7474/db/neo4j/tx/commit",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n  \"statements\": [\n    {\n      \"statement\": \"MATCH (c:Company)-[:COLLECTS]->(dp:DataPoint) RETURN c.name as company, collect(DISTINCT dp.category) as dataTypes, count(dp) as dataPoints ORDER BY dataPoints DESC LIMIT 10\"\n    }\n  ]\n}",
                "options": {}
            },
            "id": "get-company-map",
            "name": "5. Get Company Data Map (HTTP)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                910,
                400
            ],
            "credentials": {
                "httpBasicAuth": {
                    "id": "NEO4J_HTTP_CREDENTIAL_ID",
                    "name": "Neo4j HTTP Auth"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "mode": "combine",
                "mergeByFields": {
                    "values": []
                },
                "options": {}
            },
            "id": "merge-context",
            "name": "6. Merge Graph Context",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse Neo4j HTTP responses into usable context\nconst statsResponse = $('4. Get Graph Stats (HTTP)').first().json;\nconst companyResponse = $('5. Get Company Data Map (HTTP)').first().json;\nconst question = $('2. Prepare Input').first().json.question;\nconst sessionId = $('2. Prepare Input').first().json.sessionId;\n\n// Extract results from Neo4j HTTP format\nlet graphStats = [];\nlet companyData = [];\n\ntry {\n  if (statsResponse.results && statsResponse.results[0] && statsResponse.results[0].data) {\n    graphStats = statsResponse.results[0].data.map(d => ({\n      nodeType: d.row[0],\n      count: d.row[1]\n    }));\n  }\n} catch (e) {\n  graphStats = [{ error: 'Could not retrieve graph stats' }];\n}\n\ntry {\n  if (companyResponse.results && companyResponse.results[0] && companyResponse.results[0].data) {\n    companyData = companyResponse.results[0].data.map(d => ({\n      company: d.row[0],\n      dataTypes: d.row[1],\n      dataPoints: d.row[2]\n    }));\n  }\n} catch (e) {\n  companyData = [{ error: 'Could not retrieve company data' }];\n}\n\nconst hasData = graphStats.length > 0 && !graphStats[0].error;\n\nreturn {\n  json: {\n    question,\n    sessionId,\n    graphStats,\n    companyData,\n    hasData,\n    contextPrepared: true\n  }\n};"
            },
            "id": "parse-context",
            "name": "7. Parse Graph Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=User Question: {{ $json.question }}\n\n---\n## YOUR KNOWLEDGE GRAPH DATA\n\n### Graph Overview\n{{ $json.hasData ? 'Your privacy graph contains:' : 'Your privacy graph is currently empty.' }}\n{{ JSON.stringify($json.graphStats, null, 2) }}\n\n### Companies & Their Data\n{{ JSON.stringify($json.companyData, null, 2) }}\n\n---\nAnswer the user's question about their digital footprint. If you need more specific data, use your queryGraph tool to run a custom Cypher query.\n\nRemember to be conversational and helpful. Suggest follow-up questions and actionable privacy recommendations.",
                "options": {
                    "systemMessage": "You are the **Shadow Profile Oracle** - an AI that reveals what companies know about users based on their personal Knowledge Graph.\n\n## YOUR ROLE\nYou have access to a Neo4j Knowledge Graph containing:\n- **Companies** the user has accounts with\n- **DataPoints** each company has collected (categorized and risk-rated)\n- **Attributes** (shared identifiers like emails, phones, IPs) that link accounts together\n- **Inferences** about what can be deduced from combining data\n\n## HOW TO ANSWER\n\n1. **Be Conversational**: Speak directly to the user as \"you\" and \"your\"\n2. **Use Graph Evidence**: Quote specific data from the graph\n3. **Highlight Connections**: Explain how different accounts are linked\n4. **Assess Privacy Risks**: Warn about concerning patterns\n5. **Suggest Actions**: Recommend deletion requests or data minimization\n\n## EXAMPLE QUESTIONS & APPROACHES\n\n**\"What does [Company] know about me?\"**\n→ Query the graph for that company's data points, list categories and risk levels\n\n**\"Who has my [phone/email/address]?\"**\n→ Find all companies linked to that Attribute node\n\n**\"What's my biggest privacy risk?\"**\n→ Identify cross-company linking and HIGH risk data points\n\n**\"Show companies sharing data\"**\n→ Find Attributes connected to multiple Companies\n\n## AVAILABLE TOOLS\n\n### queryGraph\nExecute a custom Cypher query against the Knowledge Graph.\nExample uses:\n- `MATCH (c:Company {name: 'Amazon'})-[:COLLECTS]->(d:DataPoint) RETURN d`\n- `MATCH (a:Attribute {type: 'email'})<-[:LINKED_TO]-(acc:Account)-[:HELD_BY]->(c:Company) RETURN c.name, a.value`\n\n### lookupPolicy\nLook up a company's privacy policy analysis to understand their data practices.\n\n## OUTPUT FORMAT (JSON)\n{\n  \"answer\": \"Your conversational response to the user - be warm and helpful\",\n  \"graphNodes\": [\"node IDs to highlight in UI visualization\"],\n  \"suggestedQueries\": [\"3 follow-up questions the user might want to ask\"],\n  \"riskAlerts\": [\n    {\"message\": \"Privacy concern description\", \"severity\": \"LOW/MEDIUM/HIGH\"}\n  ],\n  \"actionItems\": [\"Specific privacy actions the user should consider\"]\n}\n\n## IMPORTANT GUIDELINES\n- If the graph is empty, encourage the user to start submitting GDPR requests\n- Never make up data - only report what's in the graph\n- Be **empowering, not scary** - focus on what the user can DO about their data\n- Use emojis sparingly to make responses friendly (🔒 🛡️ ⚠️ ✅)"
                }
            },
            "id": "ai-oracle",
            "name": "8. AI: Shadow Oracle",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                1570,
                300
            ]
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gemini-3-flash-preview"
                },
                "options": {
                    "temperature": 0.7,
                    "maxOutputTokens": 4096
                }
            },
            "id": "gemini-model",
            "name": "Gemini 2.5 Flash",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1450,
                520
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini API"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('2. Prepare Input').item.json.sessionId }}",
                "contextWindowLength": 20
            },
            "id": "chat-memory",
            "name": "Chat Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                1570,
                520
            ]
        },
        {
            "parameters": {
                "toolDescription": "Execute a custom Cypher query against the Neo4j Knowledge Graph to find specific information about the user's data. Use this when you need to look up specific companies, attributes, or data points.",
                "method": "POST",
                "url": "http://neo4j:7474/db/neo4j/tx/commit",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"statements\": [{\"statement\": \"{{ $fromAI('cypher', 'The Cypher query to execute') }}\"}]}"
            },
            "id": "tool-query-graph",
            "name": "Tool: Query Graph",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                1690,
                520
            ],
            "credentials": {
                "httpBasicAuth": {
                    "id": "NEO4J_HTTP_CREDENTIAL_ID",
                    "name": "Neo4j HTTP Auth"
                }
            }
        },
        {
            "parameters": {
                "toolDescription": "Look up a company's privacy policy analysis to understand their data practices and GDPR compliance status.",
                "method": "POST",
                "url": "http://n8n:5678/webhook/analyze-policy",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"url\": \"{{ $fromAI('companyDomain', 'The company domain to look up, e.g. amazon.com') }}\"}"
            },
            "id": "tool-lookup-policy",
            "name": "Tool: Lookup Policy",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                1810,
                520
            ]
        },
        {
            "parameters": {
                "toolDescription": "Use Hybrid RAG (combining Knowledge Graph + Vector Search of source documents) for complex questions that need both structured data and source evidence. Best for questions about data collection practices, cross-company tracking, or when you need to cite original GDPR response documents.",
                "method": "POST",
                "url": "http://n8n:5678/webhook/hybrid-rag",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"question\": \"{{ $fromAI('deepQuestion', 'The question to research using hybrid RAG (graph + vector)') }}\", \"sessionId\": \"{{ $json.sessionId }}\"}"
            },
            "id": "tool-hybrid-rag",
            "name": "Tool: Hybrid RAG Search",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                1930,
                520
            ],
            "notes": "HYBRID RAG: Calls the TCR-QF/GIVE workflow for questions requiring both graph structure AND source document evidence."
        },
        {
            "parameters": {
                "jsCode": "// Parse AI response and format for natural language\nconst aiOutput = $input.first().json.output || $input.first().json.text || '';\nconst question = $('2. Prepare Input').first().json.question;\nconst sessionId = $('2. Prepare Input').first().json.sessionId;\n\nlet response;\n\ntry {\n  const jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    response = JSON.parse(jsonMatch[0]);\n  } else {\n    // Use raw text as answer\n    response = {\n      answer: aiOutput,\n      graphNodes: [],\n      suggestedQueries: [\n        \"What companies have my email?\",\n        \"What's my biggest privacy risk?\",\n        \"Show me all my accounts\"\n      ],\n      riskAlerts: [],\n      actionItems: []\n    };\n  }\n} catch (e) {\n  response = {\n    answer: aiOutput,\n    graphNodes: [],\n    suggestedQueries: [],\n    riskAlerts: [],\n    actionItems: [],\n    parseError: e.message\n  };\n}\n\n// Ensure answer is natural language (not JSON)\nif (typeof response.answer === 'object') {\n  response.answer = JSON.stringify(response.answer);\n}\n\nreturn {\n  json: {\n    success: true,\n    sessionId: sessionId,\n    question: question,\n    ...response,\n    respondedAt: new Date().toISOString()\n  }\n};"
            },
            "id": "parse-response",
            "name": "9. Parse & Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1790,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO messages (request_id, sender, content, timestamp)\nSELECT \n  (SELECT id FROM requests ORDER BY created_at DESC LIMIT 1),\n  'agent',\n  '🔮 Oracle: {{ ($json.answer || \"\").substring(0, 500).replace(/'/g, \"''\") }}',\n  NOW()\nWHERE EXISTS (SELECT 1 FROM requests LIMIT 1)\nRETURNING id;",
                "options": {}
            },
            "id": "log-response",
            "name": "10. Log: Oracle Response",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                2010,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "POSTGRES_CREDENTIAL_ID",
                    "name": "GDPR Postgres"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond-webhook",
            "name": "11. Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2230,
                300
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "1. Webhook: Shadow Chat": {
            "main": [
                [
                    {
                        "node": "2. Prepare Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Prepare Input": {
            "main": [
                [
                    {
                        "node": "3. Log: User Question",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Log: User Question": {
            "main": [
                [
                    {
                        "node": "4. Get Graph Stats (HTTP)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "5. Get Company Data Map (HTTP)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4. Get Graph Stats (HTTP)": {
            "main": [
                [
                    {
                        "node": "6. Merge Graph Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "5. Get Company Data Map (HTTP)": {
            "main": [
                [
                    {
                        "node": "6. Merge Graph Context",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "6. Merge Graph Context": {
            "main": [
                [
                    {
                        "node": "7. Parse Graph Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "7. Parse Graph Context": {
            "main": [
                [
                    {
                        "node": "8. AI: Shadow Oracle",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini 2.5 Flash": {
            "ai_languageModel": [
                [
                    {
                        "node": "8. AI: Shadow Oracle",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "8. AI: Shadow Oracle",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Query Graph": {
            "ai_tool": [
                [
                    {
                        "node": "8. AI: Shadow Oracle",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Tool: Lookup Policy": {
            "ai_tool": [
                [
                    {
                        "node": "8. AI: Shadow Oracle",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "8. AI: Shadow Oracle": {
            "main": [
                [
                    {
                        "node": "9. Parse & Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "9. Parse & Format Response": {
            "main": [
                [
                    {
                        "node": "10. Log: Oracle Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "10. Log: Oracle Response": {
            "main": [
                [
                    {
                        "node": "11. Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "shadow-oracle-v2-http",
    "meta": {
        "templateCredsSetupCompleted": false,
        "instanceId": "gdpr-automation-local"
    },
    "id": "gdpr-shadow-oracle",
    "tags": [
        {
            "name": "GDPR",
            "id": "gdpr-tag"
        },
        {
            "name": "AI Agent",
            "id": "ai-agent-tag"
        },
        {
            "name": "Chat",
            "id": "chat-tag"
        }
    ]
}
