agents/new templates/14_enhanced_hybrid_rag.json
{
    "name": "Enhanced Hybrid RAG with Vector Ingestion",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "enhanced-rag",
                "responseMode": "responseNode"
            },
            "id": "webhook-trigger",
            "name": "1. Webhook: Enhanced RAG",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                400
            ],
            "webhookId": "enhanced-rag-webhook"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json.body;\nreturn {\n  json: {\n    question: input.question || '',\n    sessionId: input.sessionId || 'session-' + Date.now(),\n    requestId: input.requestId || null,\n    companyFilter: input.companyFilter || null,\n    searchMode: input.searchMode || 'hybrid'\n  }\n};"
            },
            "id": "prepare-input",
            "name": "2. Prepare Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                400
            ]
        },
        {
            "parameters": {
                "model": "text-embedding-3-small",
                "text": "={{ $json.question }}"
            },
            "id": "embed-question",
            "name": "3. Generate Embedding",
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1,
            "position": [
                690,
                400
            ],
            "credentials": {
                "openAiApi": {
                    "id": "OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://qdrant:6333/collections/gdpr_docs/points/search",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.embedding) }},\n  \"limit\": 8,\n  \"with_payload\": true,\n  \"score_threshold\": 0.5\n}"
            },
            "id": "vector-search",
            "name": "4a. Vector Search (Qdrant)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                910,
                300
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://neo4j:7474/db/neo4j/tx/commit",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpBasicAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"statements\": [{\n    \"statement\": \"MATCH (c:Company)-[r]->(d) WHERE c.name CONTAINS $company OR $company IS NULL RETURN c.name as company, type(r) as relationship, labels(d)[0] as dataType, d.category as category, d.value as value LIMIT 20\",\n    \"parameters\": { \"company\": {{ JSON.stringify($('2. Prepare Input').first().json.companyFilter) }} }\n  }]\n}",
                "options": {}
            },
            "id": "graph-query",
            "name": "4b. Graph Query (Neo4j)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                910,
                500
            ],
            "continueOnFail": true,
            "credentials": {
                "httpBasicAuth": {
                    "id": "NEO4J_CREDENTIAL_ID",
                    "name": "Neo4j Auth"
                }
            }
        },
        {
            "parameters": {
                "mode": "combine",
                "mergeByFields": {
                    "values": []
                }
            },
            "id": "merge-context",
            "name": "5. Merge Contexts",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3,
            "position": [
                1130,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "const vectorResp = $('4a. Vector Search (Qdrant)').first()?.json || {};\nconst graphResp = $('4b. Graph Query (Neo4j)').first()?.json || {};\nconst input = $('2. Prepare Input').first().json;\n\n// Process vector results\nlet vectorContext = [];\ntry {\n  if (vectorResp.result) {\n    vectorContext = vectorResp.result.map(r => ({\n      score: (r.score * 100).toFixed(1) + '%',\n      text: r.payload?.text || r.payload?.content || '',\n      source: r.payload?.source || 'document',\n      fileId: r.payload?.fileId\n    })).slice(0, 5);\n  }\n} catch (e) { console.log('Vector parse error:', e); }\n\n// Process graph results\nlet graphContext = [];\ntry {\n  if (graphResp.results?.[0]?.data) {\n    graphContext = graphResp.results[0].data.map(d => d.row);\n  }\n} catch (e) { console.log('Graph parse error:', e); }\n\nreturn {\n  json: {\n    question: input.question,\n    sessionId: input.sessionId,\n    requestId: input.requestId,\n    vectorContext,\n    graphContext,\n    vectorHits: vectorContext.length,\n    graphHits: graphContext.length,\n    searchMode: input.searchMode\n  }\n};"
            },
            "id": "format-context",
            "name": "6. Format Hybrid Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1350,
                400
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Answer this GDPR-related question using the hybrid context provided:\n\n## Question\n{{ $json.question }}\n\n## Vector Search Results ({{ $json.vectorHits }} matches from documents)\n{{ JSON.stringify($json.vectorContext, null, 2) }}\n\n## Knowledge Graph Results ({{ $json.graphHits }} relationships)\n{{ JSON.stringify($json.graphContext, null, 2) }}\n\n---\n\n**Instructions:**\n1. Synthesize information from BOTH vector (document) and graph (structured) sources\n2. Cite your sources: [Vector: source_name] or [Graph: Company→Relationship→Data]\n3. If sources conflict, note the discrepancy\n4. Provide a confidence level (HIGH/MEDIUM/LOW) based on evidence quality\n5. Suggest follow-up questions if more information would help\n\n**Response Format:**\n- **Answer**: Clear, direct answer\n- **Evidence**: Key supporting facts from sources\n- **Confidence**: HIGH/MEDIUM/LOW with justification\n- **Related**: 1-2 follow-up questions",
                "options": {
                    "systemMessage": "You are the Privacy Intelligence Oracle, a UK GDPR expert. You combine structured knowledge graph data with unstructured document context to provide accurate, well-sourced answers about data privacy. Always reference UK GDPR articles when relevant (Art. 15, 17, 20, 21, etc.)."
                }
            },
            "id": "rag-synthesis",
            "name": "7. AI: Hybrid RAG Synthesis",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                1570,
                400
            ]
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "mode": "list",
                    "value": "gemini-3-pro-preview"
                }
            },
            "id": "gemini-rag",
            "name": "Gemini 3.0 Pro (RAG)",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                1460,
                600
            ],
            "credentials": {
                "googleGeminiApi": {
                    "id": "GEMINI_CREDENTIAL_ID",
                    "name": "Google Gemini API"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "=rag-{{ $json.requestId || $json.sessionId }}",
                "contextWindowLength": 30
            },
            "id": "rag-memory",
            "name": "RAG Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                1570,
                600
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ {\n  success: true,\n  question: $('2. Prepare Input').first().json.question,\n  answer: $json.output,\n  sessionId: $('2. Prepare Input').first().json.sessionId,\n  sources: {\n    vectorHits: $('6. Format Hybrid Context').first().json.vectorHits,\n    graphHits: $('6. Format Hybrid Context').first().json.graphHits\n  }\n} }}"
            },
            "id": "respond",
            "name": "8. Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1790,
                400
            ]
        }
    ],
    "connections": {
        "1. Webhook: Enhanced RAG": {
            "main": [
                [
                    {
                        "node": "2. Prepare Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "2. Prepare Input": {
            "main": [
                [
                    {
                        "node": "3. Generate Embedding",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "3. Generate Embedding": {
            "main": [
                [
                    {
                        "node": "4a. Vector Search (Qdrant)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "4b. Graph Query (Neo4j)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4a. Vector Search (Qdrant)": {
            "main": [
                [
                    {
                        "node": "5. Merge Contexts",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "4b. Graph Query (Neo4j)": {
            "main": [
                [
                    {
                        "node": "5. Merge Contexts",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "5. Merge Contexts": {
            "main": [
                [
                    {
                        "node": "6. Format Hybrid Context",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "6. Format Hybrid Context": {
            "main": [
                [
                    {
                        "node": "7. AI: Hybrid RAG Synthesis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "7. AI: Hybrid RAG Synthesis": {
            "main": [
                [
                    {
                        "node": "8. Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini 3.0 Pro (RAG)": {
            "ai_languageModel": [
                [
                    {
                        "node": "7. AI: Hybrid RAG Synthesis",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "RAG Memory": {
            "ai_memory": [
                [
                    {
                        "node": "7. AI: Hybrid RAG Synthesis",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "description": "Enhanced Hybrid RAG combining Qdrant vector search with Neo4j graph queries. Uses Gemini 3.0 Pro for synthesis with UK GDPR context."
    }
}